* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/******** Header Section ********/

.header {
  padding: 20px 0;
  background-color: #455a64;
  height: 40vh;
}

h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.logo {
  height: 28px;
  vertical-align: middle;
}

.web-title,
.web-url {
  display: block;
  margin: 15px auto;
  padding: 5px;
  width: 90%;
}

input {
  outline-color: #cfd8dc;
}

input[placeholder] {
  font-size: 15pt;
  letter-spacing: 1pt;
}

.enter-btn {
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  width: 90%;
  background-color: #ffc107;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 14pt;
  font-weight: 600;
  letter-spacing: 1pt;
  outline: none;
  text-align: center;
}

.enter-btn:hover {
  background-color: #ffd773;
}

/******* Bookmark Section ******/

.bookmark-section {
  padding: 10px;
  background-color: #cfd8dc;
  height: 60vh;
  overflow: auto;
}

.bookmark {
  margin: 10px auto;
  max-width: 98%;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #607d8b;
}

.bookmark.read {
  background-color: #f2f4f4;
}

.website-title,
.website-url {
  border-bottom: 2px solid #cfd8dc;
  vertical-align: middle;
}

.website-title {
  padding: 5px;
  margin: 0;
  font-size: 16pt;
  font-weight: 600;
  color: #455a64;
  letter-spacing: 1pt;
}

.website-url {
  padding: 10px 5px;
  display: block;
  color: #607d8b;
  font-size: 14pt;
  text-decoration: none;
}

.read-btn,
.delete-btn {
  margin-top: 10px;
  border-style: none;
  background-color: #fff;
  color: #455a64;
  cursor: pointer;
  font-size: 12pt;
  border-bottom: 1px solid #cfd8dc;
  outline: none;
}

.delete-btn {
  float: right;
}

.read-btn:hover,
.delete-btn:hover {
  border-bottom: 1px solid #ffc107;
  color: #455A64;
  font-weight: 500;
}


@media screen and (min-width: 600px) {

  .header {
    float: left;
    height: 100vh;
    width: 50%;
  }

  .logo-wrap {
    max-width: 95%;
    height: 33vh;
    margin: 33% auto;;
  }

  h1 {
    font-size: 35px;
    letter-spacing: 1pt;
  }

  .logo {
    height: 35px;
  }

  .web-title,
  .web-url {
    margin: 2em auto;
  }

  .enter-btn {
    margin: 2em auto;
  }

  .bookmark-section {
    float: right;
    height: 100vh;
    width: 50%;
  }

  .clearfix:after {
    content: '';
    display: table;
    clear: both;
  }

}
